.personagem img {
  width: 14rem;
  display: inline-block;
  margin-bottom: 4rem;
}

.info {
  min-height: 300px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  box-shadow: 0px 0px 0px 2px rgba(255, 0, 0, 0.15);
}

.personagem h1 {
  color: var(--texto);
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.personagem p {
  color: var(--texto);
  font-size: 1.125rem;
  font-weight: 400;
  max-width: 30rem;
  line-height: 1.5;
}